@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
    padding:0px;
    margin: 0px;
    outline: 0px;
    font-family: 'Poppins', sans-serif;
}

.section1{
    background-color: #636C79;
}

.header{
    padding-top:20px;
    padding-left:20px;
    padding-right:20px;
    height: 80px;
}

.logo{
    float: left;
}

.logo img{
    width: 120px;
}

.nav{
    float: right;
}

.nav-item{
    display: inline;
    margin: 0px 20px;
}

.nav-link{
    text-decoration: none;
    color:#ffffff;
}

.nav-item.talk{
    padding:10px 40px;
    border:1px solid #ffffff; 
}

.banner{
    display: flow-root;
    margin:0px 80px;
}

.banner-img{
    width: 35%;
    overflow:hidden;
    float: left;
    margin-right:80px;
    margin-bottom:80px;
    border-radius: 10px;
}

.banner-img img{
    width: 220%;
}

.banner-right{
    margin-top: 80px;
    color: #ffffff;
}

.banner-right h1{
    font-size: 50px;
}

.banner-right p{
    font-size: 20px;
    margin:50px 0px;
}

.email-box{
    width: 55%;
    margin-left:44%;
    background: #ffffff;
    font-size: 18px;
    display: flow-root;
}

.email-box img{
    vertical-align:middle;
    padding-left:20px;
    width: 30px;
}

.email-box input{
    padding:20px 20px;
    border: none;
    font-size: unset;
    width: 250px;
}


.email-box button{
    padding:20px 60px;
    border: 5px solid #ffffff;
    font-size: unset;
    background: #8BB7A2;
    color:#ffffff;
    font-weight: 700;
    float: right;
}

.section2{
    margin:50px 0px;
}

.stats-heading{
    text-align: center;
    font-size: 40px;
    font-weight: 700;
}

.stat-list{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 120px;
}

.stat-item{
    text-align: center;
}

.stat-count{
    font-size: 35px;
    font-weight: 700;
}

.stat-name{
    font-size: 20px;
}

.section3{
    margin:50px 80px;
}

.video img{
    width: 100%;
}

.section4{
    margin:50px 80px;
}

.section4-heading{
    text-align: center;
    font-size: 30px;
    font-weight: 700;
}

.easy{
    margin: 50px 0px;
    display: flow-root;
}

.easy-img-right{
    float: right;
}

.easy-img-right img{
    width: 500px;
}

.easy-img-left{
    float: left;
    margin-right: 50px;
}

.easy-img-left img{
    width: 500px;
}

.easy-left{
    margin-top:100px;
    width: 45%;
}

.easy-right{
    margin-top:100px;
    /* width: 45%; */
}

.easy-heading{
    font-size: 40px;
    font-weight: 700;
}

.easy-para{
    font-size: 20px;
    margin:40px 0px;
}

.talk-btn button{
    padding:20px 60px;
    font-size: unset;
    background: #8BB7A2;
    color:#ffffff;
    border:none;
    font-weight: 700;
}

.section5{
    margin:50px 80px;
}

.section5-heading{
    display: flex;
    justify-content: space-between;
}

.section5-heading > p{
    flex:.7;
}

.team-list{
    display: flex;
    justify-content: space-between;
}

.team-item{
    margin: 5% 0px;
}

.mem-img img{
    width: 300px;
}

.mem-name{
    margin-top:20px;
    font-weight: 700;
    font-size: 20px;
}

.mem-thought{
    margin-top:10px;
    width: 90%;
}

.see-btn{
    text-align: center
}

.see-btn button{
    padding:20px 60px;
    font-size: unset;
    background: #8BB7A2;
    color:#ffffff;
    border:none;
    font-weight: 700;
}

.section6{
    background-color: #10181D;
}

.footer{
    margin:50px 80px;
    padding-bottom: 80px;
    margin-bottom: 0px;
}

.footer-logo img{
    width: 120px;
}

.footer-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    border-bottom: 1px solid #ffffff;
}

.footer-social{
    display: flex;
}

.social-icon{
    width: fit-content;
    background-color: #282F34;
    text-align: center;
    border-radius: 40px;
    margin:0px 10px;
}

.social-icon img{
    vertical-align:middle;
    width: 15px;
    padding:20px;
}

.footer-bottom{
    margin-top:50px;
    display: flex;
    justify-content: space-between;
}

.link-list{
    list-style-type: none;
}

.link-list li{
    margin:20px 0px;
}

.link-item{
    text-decoration: none;
    color: #969A9C;   
}

.link-item-heading{
    text-decoration: none;
    color:#ffffff;
    font-weight: 700;
}

@media (max-width:1200px){
    .nav-item{
        margin: 0px 10px;
    }

    .banner{
        margin:0px 50px;
    }

    .banner-img{
        margin-right: 50px;
        margin-bottom: 50px;
    }

    .banner-right{
        margin-top: 50px;
    }

    .banner-right h1{
        font-size:30px;
    }

    .banner-right p{
        margin:30px 0px;
        font-size: 15px;
    }

    .email-box{
        margin-left: 40%;
        margin-bottom: 20px;
    }

    .email-box img{
        padding-left:10px;
        width: 30px;
    }

    .email-box input{
        padding:20px 20px;
        width: 222px;
    }

    .email-box button{
        padding:15px 20px;
    }

    .section3{
        margin:50px 50px;
    }

    .section4{
        margin:50px 50px;
    }

    .easy-left{
        margin-top:50px;
        width: 45%;
    }
    
    .easy-right{
        margin-top:50px;
        /* width: 45%; */
    }

    .easy-img-right img{
        width: 350px;
    }

    .easy-img-left img{
        width: 350px;
    }

    .easy-heading{
        font-size: 30px;
    }

    .easy-para{
        font-size: 18px;
    }

    .talk-btn button{
        padding:15px 20px;
    }

    .section5{
        margin:50px 50px;
    }

    .section5-heading{
        flex-direction: column;
    }
    
    .section5-heading h1{
        font-size: 30px;
    }

    .footer{
        margin:50px 50px;
        margin-bottom: 0px;
    }
    
    .stats-heading{
        font-size: 30px;
    }

    .mem-img img{
        width: 250px;
    }

    .mem-thought{
        font-size: 15px;
    }

}

@media (max-width:900px){
    .logo img{
        width:100px;
    }

    .nav-link{
        display: none;
    }

    .nav-item.talk{
        display: block;
    }

    .nav-item.talk > .nav-link{
        display: block;
    }

    .banner{
        margin: 0px 20px;
    }

    .banner-img{
        width: 100%;
        float: unser;
        margin:0px;
    }
    
    .banner-img img{
        width: 100%;
    }
    
    .email-box{
        width: 100%;
        margin-left:unset;
        font-size: 15px;
    }

    .email-box input{
        width: 45%;
    }

    .stats-heading{
        font-size: 20px;
    }

    .stat-count{
        font-size: 15px;
    }

    .stat-name{
        font-size: 15px;
    }

    .section3{
        margin:30px 30px;
    }

    .section4{
        margin:30px 30px;
    }
    
    .section4-heading{
        font-size: 20px;
    }

    .easy-img-right{
        float: unset;
    }
    
    .easy-img-right img{
        width: 60%;
    }
    
    .easy-img-left{
        float: unset;
        margin-right: unset;
    }
    
    .easy-img-left img{
        width: 60%;
    }
    
    .easy-left{
        margin-top:30px;
        width: 100%;
    }
    
    .easy-right{
        margin-top:30px;
        /* width: 45%; */
    }
    
    .easy-heading{
        font-size: 20px;
    }
    
    .easy-para{
        font-size: 15px;
        margin:20px 0px;
    }

    .section5{
        margin:30px 30px;
    }

    .section5-heading h1{
        font-size: 20px;
    }

    .section5-heading p{
        font-size: 15px;
    }

    .mem-img img{
        width: 60%;
    }

    .team-list{
        flex-direction: column;
    }

    .footer{
        margin:30px 30px;
        margin-bottom: 0px;
        padding-bottom: 30px;
    }

    .footer-logo img{
        width: 100px;
    }

    .social-icon{
        border-radius: 30px;
    }
    
    .social-icon img{
        padding:10px;
    }

    .see-btn button{
        padding:15px 20px;
    }

    .footer-bottom{
        margin-top:30px;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}